EXPO_PUBLIC_SUPABASE_URL_DEV=https://local.foo.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_DEV=foo.bar.foo-bar-local

EXPO_PUBLIC_SUPABASE_URL=https://foo.supabase.co
EXPO_PUBLIC_SUPABASE_ANON=foo.bar.foo-bar